@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,800;1,700&display=swap");
.LoginContainer {
  display: flex;
  flex-direction: column;
}

.LoginLeftWrapper {
  flex: 0.5;
}
.LoginWelcomeContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.4rem;
}
.LoginIntro {
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
.LoginIntroSubHeading {
  color: gray;
  margin-bottom: 1rem;
}

.LoginRightWrapper {
  flex: 1;
}
.LoginPageLogo {
  flex: 1;
  width: 10rem;
}

.LoginBottomHeading {
  border-top: 1px dashed dimgray;
  padding: 1rem 0;
  font-size: 1rem;
  flex-wrap: wrap;
  display: flex;
}
.Login-page-link {
  color: blue;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 7px;
}

.LoginWrapperContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}
.LoginInputWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.LoginInputContainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid RGB(212, 213, 219);
  border-radius: 1rem;
  box-shadow: inset 0 2px 2px 0 rgb(0 0 0 / 5%);
  margin: 1rem 0;
}
.LoginInputLabel {
  flex: 1;
  position: absolute;
  top: -1rem;
  background-color: #fff;
  left: 10px;
  padding: 5px 2px;
  font-weight: 600;
  color: darkgray;
}
.LoginInput {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  flex: 1;
  color: RGB(38, 41, 77);
  border: none;
  font-size: inherit;
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
}
.Error {
  color: red;
  padding: 14px 1rem;
}
.RequestOtp {
  margin-top: 1rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: rgb(54, 123, 255);
  border: 1px solid RGB(212, 213, 219);
  box-shadow: inset 0 2px 2px 0 rgb(0 0 0 / 5%);
  font-size: inherit;
  outline: none;
  cursor: pointer;
}

.SwitchContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: 1px dashed #333;
  margin: 1rem;
}

.Switch {
  align-self: center;
  flex: 1;
  padding: 1rem;
  font-weight: 700;
}

.SwitchBtn {
  background-color: #fff;
  color: rgb(54, 123, 255);
  padding: 1rem 1rem;
  display: flex;
  border-radius: 1rem;
  border: 2px solid rgb(54, 123, 255);
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 2px 0 rgb(0 0 0 / 5%);
  font-size: inherit;
  outline: none;
  cursor: pointer;
}
.Logo {
  width: 10rem;
  height: 7rem;
}

.SocialBtnContainer {
  flex: 1;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.SocialBtnWrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.SocialBtn {
  flex: 1;
  padding: 1rem;
}
.SocialIcons {
  width: max-content;
  display: flex;
  flex-wrap: wrap;
}
.LoginInputLogo {
  margin: 1.2rem 5px;
  display: none;
  width: 1.6rem;
  height: 1.6rem;
  color: rgb(175, 174, 174);
}
@media only screen and (min-width: 700px) {
  .LoginContainer {
    flex-direction: row;
  }
  .LoginLeftWrapper {
    flex: 1;
  }
  .LoginWrapperContainer {
    margin: 1rem 5rem;
  }
  .LoginBottomHeading {
    font-size: 1.5rem;
  }
  .LoginInputLogo {
    display: flex;
  }
  .LoginContainer {
    top: 2rem;
  }
}

.Heading {
  font-size: 3rem;
  font-weight: 600;
  color: red;
}

.emailIcon {
  position: absolute;
  width: 1rem;
  height: 1rem;
}
.hr {
  border: none;
  border-top: 2px dotted rgb(204, 204, 204);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
  margin-right: 3rem;
}
.InputAndLogo {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  padding: 1rem 1rem;
  border-radius: 2rem;
  border: 3px solid RGB(212, 213, 219);
  color: RGB(38, 41, 77);
  font-size: inherit;
  outline: none;
}
.Divider {
  color: gray;
}
.InputLabelPass {
  position: absolute;
  font-weight: 600;
  color: rgb(175, 174, 174);
  margin-left: 2rem;
  margin-top: 10rem;
  background-color: #fff;
  padding: 5px;
}

.page-link:hover {
  background-color: transparent;
  color: blue;
}
.page-link:focus {
  border: none;
  outline: none;
}
